<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>
    <div id="example">
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i of info">  <!-- for 가 먼저 실행되고 if가 실행된다. 주의! -->
                    <td>{{i.no}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.tell}}</td>
                    <td>{{i.addr}}</td>
                </tr>
            </tbody>
        </table>
    </div>




    <script>
        var model = {
            info:[
                {no:"1",
                 name : "진솔",
                 tel : "010-0000-0000",
                 addr: "서울"},
                {no:"2",
                 name : "갑",
                 tel : "010-1111-2222",
                 addr: "부산"},
                {no:"3",
                 name : "을",
                 tel : "010-3333-4444",
                 addr: "울산"},
            ]
        }
        new Vue({
            el:"#example",
            data:model
        })

        /*
        <option v-for="(val, key) in regions" :value="key">{{val}}</>
        <tr v-for="(contact, index) in contacs">
        <option v-for="(val, key, index) in regions">
        이런식의 for도 가능하다.
        */

    </script>
</body>
</html>